# YouTube API Credentials
YOUTUBE_CLIENT_ID=23994114851-hq13chbnlonvrchptvgvm2bt4g5n476f.apps.googleusercontent.com
YOUTUBE_CLIENT_SECRET=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
YOUTUBE_ACCESS_TOKEN=ya29.A0AS3H6NwexsHsBVkS5ONQjSZH8Ny43fWEU3Qpky7-Ei_j5GQj_RfGbN55quehdsLqEZ7wyeBs9OQdCUifZIHfvWBKjYi7vu18ZMnTNocgImrRO5kRKRMNmUtROV6sohxVe3GhP1fRO6S5WNbtncT_1U7jDtRRoc7VHAkbWWv2Mr7kCiP-BU8_N9CZyqFiOoFCyRQHyCoaCgYKAacSARESFQHGX2MiBBO40OFA6Iw49P1EKqW_Qw0206
YOUTUBE_REFRESH_TOKEN=1//0g1fMQ8ZS1UueCgYIARAAGBASNwF-L9IrqaxPQZL_hkQ68ew4a3Jt_qEqo9GjcCcGzG57skdXiJEv6Gu7YX8fdZNvrRjaAbdy2wo

# Instagram API Credentials
INSTAGRAM_ACCESS_TOKEN=IGAAURvPNkmgRBZAE9oc0ZAfb3hpSnVDVldiUmFZAOXJXVndIUnhtemJHMEE3LTcxMmZAfSlhvWGRZAN21nd1hjb1N6c0J1RXFvYTVoTDNSS0FNZAjhfVGhJay1BVEhZAbmcwVkoxRVM4T19Ob1c5QkxBZAkxEbmg4VWxPMTdXT0xHVll1NAZDZD
INSTAGRAM_APP_ID=1426878118533636
INSTAGRAM_APP_SECRET=820e470fa1abf0be0e63e13bdc573e3a

# Server Configuration
HOST=0.0.0.0
PORT=8000
DEBUG=False

# File Upload Configuration
MAX_FILE_SIZE_MB=100
ALLOWED_VIDEO_EXTENSIONS=mp4,mov,avi,mkv,webm

# API Rate Limiting
RATE_LIMIT_REQUESTS_PER_MINUTE=60
